<nav>
        <ul>
                <li><a [routerLink]="['/lifecycle']" routerLinkActive="active">Lifecycle
                                hooks</a></li>
                <li><a [routerLink]="['/input-properties']" routerLinkActive="active">Input and intercepting input
                                with setters</a></li>
                <li><a [routerLink]="['/child-events']" routerLinkActive="active">Listen
                                to child events</a></li>
                <li><a [routerLink]="['/service-communication']" routerLinkActive="active">Component comunication
                                using services</a></li>
                <li><a [routerLink]="['/theme-selector']" routerLinkActive="active">Theme selector</a></li>
                <li><a [routerLink]="['/input-output']" routerLinkActive="active">Input output communication</a></li>
                <li><a [routerLink]="['/dynamic-components']" routerLinkActive="active">Dynamic components</a></li>
                <li><a [routerLink]="['/interpolation-and-template-statements']" routerLinkActive="active">Interpolation
                                and template statements</a></li>
                <li><a [routerLink]="['/pipes']" routerLinkActive="active">Pipes</a></li>

        </ul>
</nav>